.weatherShow{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .weather-icon{
        width: 300px;
        height: 250px;
    }
    .temp{
        margin: 0;
        font-size: 50px;
    }
    .city{
        font-size: 30px;
    }
    .latitude{
        font-size: 14px;
        font-weight: 400;
    }
    
}