.weather{
    position: relative;        
    width: 100%;             
    height: 100vh;            
    display: flex;            
    align-items: center;      
    justify-content: center; 
    .whetherCard{      
        width: 600px;                 
        height: 700px;                
        background: radial-gradient(circle, #00f, #00aaff); /* Light to dark blue */

        color: white;               
        border-radius: 8px;          
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        @media (max-width: 768px) {
            width: 80%; /* Adjust width to 80% on tablets */
            height: 100%; /* Allow height to adjust based on content */
            padding: 20px; /* Add padding for content spacing */
        }
        
        @media (max-width: 480px) {
            width: 90%; /* Slightly narrower width on smaller screens */
            height: 100%;
            padding: 15px;
            border-radius: 6px; /* Slightly smaller radius for compact look */
        }
        
    }
    
}
